.copy-btn {
    color: white;
    position: absolute;
    right: 10px;
    top: -2px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.copy-btn:hover {
    transform: scale(1.1);
    opacity: 0.9;
}
