.message-input {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
}

.input-form {
  background-color: #f3f4f6;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.07999999821186066);
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.input-background {
  opacity: 0.4;
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
  position: absolute;
  border: 1px solid #ecebeb;
}

.input-element-container {
  padding-left: 16px;
  padding-right: 16px;
  width:100%;
}

.input-element {
  width: 100%;
  border: none;
  max-height: 6.4em;
  position: relative;
  font-size: 14px;
  overflow: scroll;

  color: rgba(0,0,0,.87);
  background-color: transparent;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  text-align: left;
  opacity: 1;
  
  min-height: 1.6em;
  line-height: 1.6em;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  
  &:focus{
    outline: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.send-container {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 0.4;
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.attach-placeholder {
  position: relative;
  padding: 12px;
}

.message-placeholder {
  color: #9ca3af;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px;
  pointer-events: none;
}
