# Class and package files
*.class
*.jar
*.war
*.ear

# SBT
.bsp

# Intellij
.idea
**/target

# Eclipse
.project
.settings
.cache-main
.cache-tests
.classpath

# NetBeans
nbproject

# Android Studio
*.iml

# Jupyter
.ipynb_checkpoints

# PyTorch checkpoints
*.pt

# JavaDoc
doc/api
web/_site/

# Data
shell/src/universal/data/image
shell/src/universal/data/mnist
shell/src/universal/data/nlp

# Clojure
.lein-repl-*
clojure/pom.xml*

# Gradle
.gradle
build

# Node.js
node_modules

# JVM crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# macOS
.DS_Store

# Generated
serve/src/universal/chat
