# class and package Files
*.class
*.jar
*.war
*.ear

# SBT
.bsp

# Intellij
.idea
**/target

# Eclipse
.project
.settings
.cache-main
.cache-tests
.classpath

# NetBeans
nbproject

# Android Studio
*.iml

# jupyter
.ipynb_checkpoints

# PyTorch checkpoints
*.pt

# JavaDoc
doc/api
web/node_modules/
web/_site/
shell/src/universal/data/nlp

# clojure
.lein-repl-*
clojure/pom.xml*

# gradle
.gradle
build

# JVM crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# MacOS
.DS_Store

