.text-content {
  text-align: left;
  vertical-align: text-top;
  font-size: 14px;
  align-self: flex-start;
  line-height: auto;
  color: #000000;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-left: 16px;
  padding-right: 16px;
  margin-top: -8px;
  margin-bottom: -8px;
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 100%;
  a {
    color: blue;
  }
}

.line-break p {
  white-space: pre-wrap;
}

.inlineCode{
  display: inline;
  padding: 0 4px;
  border-radius: 4px;
  background-color: #4b4b59;
  color: white;
}

.code-pre {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 35px -23px 2px -16px rgba(0, 0, 0, 0);
  position: relative;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 4px 10px;
}
