<div class="col-md-3 order-md-last d-none d-md-block">
  <aside class="sidebar-toc glass" aria-label="Table of contents">
    <p class="toc-title">Contents</p>
    <div id="toc"></div>
  </aside>
</div>
