.app {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 280px;
  background: #1e1e2f;
  color: white;
  padding: 16px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 6px;
  font-size: 16px;
}

.sidebar li:hover {
  background: #2e2e4f;
}

.sidebar li.active {
  background: #3e3e6f;
}

.content {
  flex: 1;
  padding: 24px;
  background: white;
  color: black;
}

.toast {
  text-align: center;
  font-size: 20px;
}

/* Basic styling for the dialog box */
dialog {
  background-color: #1e1e2f;
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px lightblue;
}

/* Styling the overlay that appears behind the modal */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  /* Add an animation to the backdrop */
  animation: backdrop-fadein 0.3s forwards;
}

@keyframes backdrop-fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.json-container pre {
  outline: 1px solid #ccc;

  background-color: #f5f5f5;
  color: #333;
  overflow: auto; /* Adds scrollbars if data is too wide */
}
