.outgoing-wrapper {
  display: flex;
  justify-content: end;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

.incoming-wrapper {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  box-sizing: border-box;
}

.outgoing-message-container {
  min-width: 160px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  position: relative;
  box-sizing: border-box;
}

.incoming-message-container {
  min-width: 160px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  position: relative;
  box-sizing: border-box;
}
  
.outgoing-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(220, 248, 198);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.incoming-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.picture-container {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  user-select: none;
}

.profile-picture {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border-width: 2px;
  border-color: rgb(255 255 255);
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.name {
  text-align: left;
  vertical-align: text-top;
  font-size: 14px;
  align-self: center;
  line-height: auto;
  color: #4b5563;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  user-select: none;
}

.incoming-header-container {
  display: flex;
  align-items: center;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 16px;
  margin-bottom: 6px;
}

.outgoing-header-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 16px;
  margin-bottom: 6px;
}
